
.scroll-down {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.7s ease;
    width: 100px;

    margin-left: auto;
    margin-right: auto;
}

.scroll-down img {
    width: 20px;
    height: 20px;
}

.scroll-down:hover {
    border-radius: 25px;
    background-color: rgb(164, 0, 246);
}


/* Our Performaces and Stats section */

#our-performance {
    text-align: center;
    margin-top: 15vh;
}

#our-performance h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 50px;
}

.performance-metrics {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.metric {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#our-performance .performance-metrics .metric h2 {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 10px;
}

#our-performance .performance-metrics .is-blue {
    color: #1f8bff;
}

#our-performance .performance-metrics .is-purple {
    color: rgb(164, 0, 246);
}

.metric h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
}

.metric p {
    font-size: 1em;
    color: #666;
}

.metric:hover {
    transform: scale(1.05);
}



/* Our Team Styling */
#our-team {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    border-radius: 10px;

}

#our-team h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

#our-team p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.team-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.team-member {
    text-align: center;
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-photo {
    height: 275px;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.team-member h4 {
    font-size: 1.1rem;
    color: #007bff;
    margin-bottom: 10px;
}

.linkedin-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.4s;
}

.linkedin-icon:hover {
    transform: scale(1.2);
}




/* Our History Styling */
#our-history {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
    margin-bottom: 8vh;
    margin-top: 15vh;
}

#our-history h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 50px;
}

.history-container {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: flex-start;
}

.history-item {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#our-history .history-item h2 {
    font-size: 7em;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;

}

.history-item img {
    display: block;
    margin: 10px 0;
    width: 50px; 
}

.history-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.history-item p {
    font-size: 1rem;
    line-height: 1.5;
}

.history-background {
    background: url('img/our-history.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 0;
}

#our-history .history-background h2 {
    font-size: 7em;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
}

.history-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Media Queries for Mobile Screens */
@media (max-width: 767px) {

    #our-performance h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .performance-metrics {
        flex-direction: column;
        align-items: center;
    }

    .metric {
        width: 75vw;
        margin: 10px 0;
        padding: 15px;
    }

    #our-performance .performance-metrics .metric h2 {
        font-size: 2.5em;
        margin-bottom: 5px;
    }

    #our-team {
        padding: 20px 0;
    }

    #our-team h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    #our-team p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .team-row {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 75vw;
        margin: 10px 0;
        padding: 15px;
    }

    .team-photo {
        height: auto;
        max-width: 100%;
    }

    .team-member h3 {
        font-size: 1.2rem;
    }

    .team-member h4 {
        font-size: 1rem;
    }

    #our-history h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .history-container {
        flex-direction: column;
        gap: 20px;
    }

    .history-item {
        width: 75vw;
        padding: 15px;
    }

    #our-history .history-item h2 {
        font-size: 2.5em;
        margin-bottom: 5px;
    }

    .history-item img {
        width: 50px; 
    }

    .history-item h3 {
        font-size: 1.2rem;
    }

    .history-item p {
        font-size: 0.9rem;
    }
}
