

/* Contact info Sytling */
#contact-info {
    width: 70vw;
    margin: 12vh auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.contact-info-item img {
    width: 50px;
    height: 50px;
}

.contact-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info-text h3 {
    font-size: 1.2rem;
    margin: 0;
}

.contact-info-text p {
    font-size: 1rem;
    margin: 5px 0 0 0;
    text-align: center;
}



/* Contact us Form styling */
#contact-us {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 4vh;
}

.contact-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.form-left, .form-right {
    flex: 1;
}

.form-left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea {
    height: 100px;
}

.submit-button {
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 220px;
}

.submit-button:hover {
    background-color: rgb(108, 0, 208);
}


/* Media Queries for Mobile Screens */
@media (max-width: 767px) {

    #contact-info {
        flex-direction: column;
        align-items: center;
        width: 55vw;
    }

    .contact-info-container {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info-item {
        padding: 15px;
    }

    .contact-info-text h3 {
        font-size: 1rem;
    }

    .contact-info-text p {
        font-size: 0.9rem;
    }

    #contact-us {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin-top: 4vh;
    }

    .contact-form-container {
        flex-direction: column;
        gap: 20px;

    }

    .form-left, .form-right {
        width: 100%;

    }

    .form-left h2 {
        font-size: 1.5rem;
    }

    .submit-button {
        width: 100%;
        margin-bottom: 45px;
    }
}
