#local-dashboard {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

#local-dashboard h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 20vw;  
    max-height: 50vh; 
    height: min-content;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
}

.card-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 15px;
    margin-bottom: 20px;
}

.card-text h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.card-text p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
    width: 90%;
    height: auto;
}

.countdown {
    height: 1.5rem; 
    line-height: 1.5rem; 
    padding: 0 5px;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    color: #333;
    font-size: 1.2rem;
    height: 200px; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-card:hover {
    background-color: #d0d0d0;
}


/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    box-sizing: border-box; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal textarea,
.modal input[type="datetime-local"] {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}

.modal button {
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: rgb(108, 0, 208);
}


/* Media Queries for Mobile Screens */
@media (max-width: 767px) {

    #local-dashboard {
        padding: 20px 10px;
        margin-bottom: 10px;
    }

    #local-dashboard h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 80vw;
        max-width: none;
        max-height: none;
    }

    .card-text h3 {
        font-size: 1rem;
    }

    .card-text p {
        font-size: 0.9rem;
    }

    .add-card {
        width: 80vw;
        height: auto;
        padding: 20px;
        font-size: 1rem;
    }

    .modal-content {
        width: 90%;
        margin: 50% auto;
    }
}
